    html, body {
        height: 100%;
        width: 100%;
        background-color: black;
        overflow: hidden;
        position: fixed;
        z-index: 0;
    }

    .headcontainer{
        width:fit-content;
        margin: 0 auto;
    }

    .header{
        border-right: 0.5vh  rgb(0, 255, 0) solid;
        white-space: nowrap;
        overflow: hidden;
        margin: 0 auto;
        height: 10vw;
        font-family:Courier New;
        font-size: 9.7vw;
        color: rgb(0, 255, 0);
        animation:TextDisplay 2s steps(27, end), Blinking .5s step-end infinite;
    }

    @keyframes TextDisplay{
        from{width: 0%;}
        to{width: 100%;}
    }

    @keyframes Blinking{
        0{border-right-color: green;}
        50%{border-right-color: transparent;}
        100%{border-right-color: green;}
    }
    h3{
        height:10%;
        font-family:Courier New;
        color: rgb(0, 200, 0);
    }
    .tabs {
        height: 5%;
        width: 100%;
        margin-left: -0.5%;
        background-color: rgb(26, 26, 26);

    }

    .container{
        margin: auto;
        width: 30%;
        height: 100%;
    }

    .button{
        width: 32%;
        display: overflow;
        background-color: #4CAF50;
        height: 100%;
        border: none;
        color: white;
        text-align: center;
    }

    p{
        width: 50%;
        height: 30%;
        color: rgb(0, 255, 0);
        font-family:Courier New;
        overflow: hidden;
        position:relative;
        font:size: 100%;
        padding: 30px;
    }

